*{
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(30, 38%, 92%);

  padding: calc(1vw + 1.5rem) calc(1vw + 0.8rem);
}

main{
  background-color: hsl(0, 0%, 100%);
}
.imgContainer{
}
.itemImg{
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

.textContainer{
  padding: calc(1vw + 1.2rem);
}