*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body{
  background-color: hsl(30, 38%, 92%);

  padding: calc(1vw + 1.5rem) calc(1vw + 0.8rem);
}

main{
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  overflow: hidden;
}
.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemImg{
  max-inline-size: 100%;
  block-size: auto;
  flex-grow: 1;
}
.textContainer{
  padding: calc(1vw + 0.5rem) calc(1vw + 1.75rem) calc(1vw + 1.75rem) calc(1vw + 1.75rem);
}
.itemCategoryContainer{
  margin: 0.8rem 0;
}
.itemCategory{
  font-family: Montserrat, Arial;
  letter-spacing: 0.4rem;
  font-size: 0.9rem;
}
.itemNameContainer{
  margin-bottom: 1.25rem;
}
.itemName{
  font-family: Fraunces;
  font-size: 2.3rem;
  font-weight: 700;
}
.itemDescContainer{
  margin-bottom: 2rem;

  width: 96%;
}
.itemDesc{
  font-family: Montserrat, Arial;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}
.itemPriceContainer{
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.discountedPrice{
  font-family: Fraunces;
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.originalPriceContainer{
  padding-left: calc(1vw + 1.25rem);
}
.originalPrice{
  font-family: Montserrat, Arial;
  font-weight: 500;
  text-decoration: line-through;
  color:hsl(228, 12%, 48%)
}
.addToCartContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.addToCartBtn{
  padding: calc(1vw + 0.75rem) calc(1vw + 6.75rem);
  width: 100%;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-wrap: nowrap;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addToCartBtn:hover{
  background-color: hsl(158, 38%, 21%);
}
.btnText{
  padding-left: 0.75rem;
  font-family: Montserrat, Arial;
  font-weight: 700;
}